@import "../../css/colors.css";

.button {
    background: none;
    cursor: pointer;
    user-select: none;
}
.button:active {
    background-color: $motion-transparent;
}
.highlighted.button {
    background-color: $motion-tertiary;
    color: white;
}
.highlighted.button img {
    filter: brightness(0) invert(1);
}
.mod-disabled {
    cursor: auto;
    opacity: .5;
}
.mod-disabled:active {
    background: none;
}
