$ui-pane-border: var(--ui-black-transparent, #D9D9D9);

$ui-white-bg: var(--ui-white-bg, hsla(0, 100%, 100%, 1)); /* #FFFFFF */
$input-field: var(--input-field, hsla(0, 100%, 100%, 1)); /* #FFFFFF */

$text-primary: var(--text-primary, #575e75);
$text-on-accent: var(--text-on-accent, hsla(0, 100%, 100%, 1)); /* #FFFFFF */

$motion-primary: #4C97FF;
$motion-tertiary: #3373CC;
$motion-accent: var(--motion-accent, hsla(215, 60%, 50%, 1)); /* #3373CC */
$motion-transparent: var(--motion-transparent, hsla(215, 60%, 50%, 0.3)); /* 30% transparent version of motion-accent */

$looks-secondary: #855CD6;
$looks-transparent: hsla(260, 60%, 60%, 0.35); /* 35% transparent version of looks-secondary */

$red-primary: #FF661A;
$red-tertiary: #E64D00;

$sound-primary: #CF63CF;
$sound-tertiary: #A63FA6;

$control-primary: #FFAB19;

$data-primary: #FF8C1A;

$form-border: var(--ui-black-transparent, #D9D9D9);
